body {
    background-color: rgb(38, 39, 57);
    }

h3 {
    color: aliceblue;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 70px;
    }

h5 {
    font-size: xx-small;
    color: aliceblue;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 26%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 70px;
    }

.daa {
    display: table;
    border-spacing: 10px;
    border-collapse: separate;
    font-size: xx-small;
    color: aliceblue;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 21%;
    left: 60%;
    transform: translate(-50%, -50%);
        }

.dat{
    display: table-cell;
    color: aliceblue;

    }

.them {
    background-color: rgb(136, 12, 12);
    position: absolute;
    top: 55%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(23, 24, 37);
        }

.theme {
    background-color: rgb(30, 32, 55);
    position: absolute;
    top: 24%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(23, 24, 37);
        }

.screen {
    background-color: rgb(30, 32, 55);
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 349px;
    height: 70px;
    border-radius: 10px;
    color: white;
    text-align: right;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: auto;
    box-shadow: 0 0 5px rgb(23, 24, 37);
        }
.outerLayer {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 32, 55);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 349px;
    height: 249px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(23, 24, 37);
            }


.row {
    display: flex;
            }

.data {
    flex-basis: 25%;
    padding: 9px;
    margin: 6px;
    border-radius: 5px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgb(23, 24, 37);
    cursor: crosshair;
            }
            
.ac {
    flex-basis: 25%;
    padding: 10px;
    margin: 6px;
    color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    background-color:  rgb(38, 39, 57);
    box-shadow: 0 0 5px rgb(23, 24, 37);
    cursor: crosshair;
            }

.equal {
    flex-basis: 25%;
    padding: 10px;
    margin: 6px;
    text-align: center;
    color: antiquewhite;
    border-radius: 5px;
    background-color:  red;
    box-shadow: 0 0 5px rgb(23, 24, 37);
    cursor: crosshair;
            }

#button:hover {
    background-color: cadetblue;
}